@import 'ckeditor-styles.css';
@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';
@import "~node_modules/ol/ol.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.height-webkit-fill-available {
    height: 100%;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: stretch;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem !important;
  font-weight: 900;
  padding: 8px 12px;
  background-color: lightgray;
  color: gray;
  border-radius: 100%;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after{
  background-color: grey;
  color: white;
}